@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo!</h1>
    <p>Healthcare, a solução completa para a sua saúde.</p>
</div>

@if (User.IsInRole("Médico"))
{
	<a class="btn btn-info">Painel do Médico</a>
}
@if (User.IsInRole("Paciente"))
{
	<a class="btn btn-info">Painel do Paciente</a>
}
