@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo!</h1>
    <p>Healthcare, a solução completa para a sua saúde.</p>
</div>

@if (User.IsInRole("Médico") || User.IsInRole("Doctor"))
{
    <a asp-controller="Appointments" asp-action="Index" asp-route-role="Doctor" class="btn btn-warning">Doctor
        Dashboard</a>
}
@if (User.IsInRole("Paciente") || User.IsInRole("Patient"))
{
    <a asp-controller="Appointments" asp-action="Index" asp-route-role="Patient" class="btn btn-info">Patient
        Appointments View</a>
}
